body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #004aad;
}

button {
    background-color: #ff9900;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600;
}

#attivita {
    margin-top: 20px;
}

#attivita .attivita {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

ul {
    text-align: left;
    margin-top: 20px;
}
